@import url(https://fonts.googleapis.com/css?family=Euphoria+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,regular,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
.euphoria {
    font-family: 'Euphoria Script', cursive;
}

.frank {
    font-family: 'Frank Ruhl Libre', serif;
}

.covered {
    font-family: 'Covered By Your Grace', cursive;
}