    @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
    @import './_fonts.scss';
    @import './_color.scss';
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        height: 100%;
        overflow: auto;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
    }
    
    body {
        background-size: cover;
        background-position: center;
        font-size: 22px;
        padding: 2em;
        width: 100%;
        height: 100%;
        @media screen and (max-width: 480px) {
            padding: 0.8em;
        }
    }
    
    .video-bg {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    .mobOnly {
        display: none;
        line-height: 0;
        @media (max-width: 768px) {
            display: block;
        }
    }
    
     ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 1px;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #db4844;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
     ::-webkit-scrollbar-thumb:window-inactive {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    .app {
        width: 100%;
        display: block;
        height: auto;
        border-radius: 2em;
        padding-bottom: 5vh;
        background-color: $theme-bg-color;
        backdrop-filter: blur(20px);
        overflow-y: scroll;
    }
    
    .invite {
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.15em;
        profile {
            margin-top: 5vh;
        }
        h1 {
            font-size: clamp(22px, 20vw, 120px);
            font-weight: bolder;
        }
        .wedText {
            letter-spacing: 3px;
            font-weight: 400;
        }
    }
    
    .waviy {
        position: relative;
    }
    
    .waviy span {
        position: relative;
        display: inline-block;
        color: #fff;
        animation: waviy 5s infinite;
        animation-delay: calc(.2s * var(--i));
    }
    
    article {
        margin-top: 5vh;
        position: relative;
        h2 {
            font-weight: bolder;
        }
        .customBtn {
            border: 1px solid $color-DarkViolet;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(30px);
            color: rgba(255, 255, 255, 0.8);
            color: #fff;
            text-align: center;
            &:hover {
                color: $color-DarkViolet;
                background: #fff;
            }
        }
    }
    
    .countDown {
        text-align: center;
        background: none;
        // background-color: $theme-bg-color;
        // backdrop-filter: blur(20px);
        div {
            line-height: 1;
            display: inline-block;
            padding: 0.15em;
        }
        #days {
            color: #db4844;
            font-size: clamp(50px, 20vw, 120px);
            @media (min-width: 768px) {
                font-size: 200px;
            }
        }
        #hours {
            font-size: clamp(50px, 20vw, 120px);
            color: #f07c22;
            @media (min-width: 768px) {
                font-size: 150px;
            }
        }
        #minutes {
            font-size: clamp(50px, 20vw, 120px);
            color: #f6da74;
            @media (min-width: 768px) {
                font-size: 100px;
            }
        }
        #seconds {
            font-size: clamp(50px, 20vw, 120px);
            color: #abcd58;
            @media (min-width: 768px) {
                font-size: 50px;
            }
        }
        span,
        #timer .span {
            display: block;
            color: white;
            font-size: 1em;
            @media (min-width: 768px) {
                font-size: 40px;
            }
        }
    }
    
    .customCard {
        // box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: none !important;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        // backdrop-filter: blur(5px);
        transform-style: preserve-3d;
        transform: perspective(800px);
        max-width: 400px;
        padding: 2rem;
        margin: 2rem;
        overflow: hidden;
        border-radius: 5rem;
        .card-header,
        .card-body {
            background: none;
            color: #fff;
        }
    }
    
    footer {
        background-color: $theme-bg-color;
        backdrop-filter: blur(20px);
        color: #fff;
        border-top-left-radius: 3em;
        border-top-right-radius: 3em;
    }
    
    @keyframes waviy {
        0%,
        40%,
        100% {
            transform: translateY(0)
        }
        20% {
            transform: translateY(-20px)
        }
    }
    
    @keyframes gradientAnim {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 0% 100%;
        }
    }