@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url(https://fonts.googleapis.com/css?family=Euphoria+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,regular,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
.euphoria {
  font-family: 'Euphoria Script', cursive;
}

.frank {
  font-family: 'Frank Ruhl Libre', serif;
}

.covered {
  font-family: 'Covered By Your Grace', cursive;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background-size: cover;
  background-position: center;
  font-size: 22px;
  padding: 2em;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0.8em;
  }
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mobOnly {
  display: none;
  line-height: 0;
}

@media (max-width: 768px) {
  .mobOnly {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #db4844;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(255, 255, 255, 0.1);
}

.app {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 2em;
  padding-bottom: 5vh;
  background-color: rgba(16, 18, 27, 0.55);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  overflow-y: scroll;
}

.invite {
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.15em;
}

.invite profile {
  margin-top: 5vh;
}

.invite h1 {
  font-size: clamp(22px, 20vw, 120px);
  font-weight: bolder;
}

.invite .wedText {
  letter-spacing: 3px;
  font-weight: 400;
}

.waviy {
  position: relative;
}

.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  -webkit-animation: waviy 5s infinite;
          animation: waviy 5s infinite;
  -webkit-animation-delay: calc(.2s * var(--i));
          animation-delay: calc(.2s * var(--i));
}

article {
  margin-top: 5vh;
  position: relative;
}

article h2 {
  font-weight: bolder;
}

article .customBtn {
  border: 1px solid #212164;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  color: #fff;
  text-align: center;
}

article .customBtn:hover {
  color: #212164;
  background: #fff;
}

.countDown {
  text-align: center;
  background: none;
}

.countDown div {
  line-height: 1;
  display: inline-block;
  padding: 0.15em;
}

.countDown #days {
  color: #db4844;
  font-size: clamp(50px, 20vw, 120px);
}

@media (min-width: 768px) {
  .countDown #days {
    font-size: 200px;
  }
}

.countDown #hours {
  font-size: clamp(50px, 20vw, 120px);
  color: #f07c22;
}

@media (min-width: 768px) {
  .countDown #hours {
    font-size: 150px;
  }
}

.countDown #minutes {
  font-size: clamp(50px, 20vw, 120px);
  color: #f6da74;
}

@media (min-width: 768px) {
  .countDown #minutes {
    font-size: 100px;
  }
}

.countDown #seconds {
  font-size: clamp(50px, 20vw, 120px);
  color: #abcd58;
}

@media (min-width: 768px) {
  .countDown #seconds {
    font-size: 50px;
  }
}

.countDown span,
.countDown #timer .span {
  display: block;
  color: white;
  font-size: 1em;
}

@media (min-width: 768px) {
  .countDown span,
  .countDown #timer .span {
    font-size: 40px;
  }
}

.customCard {
  border-radius: 15px;
  background: none !important;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px);
          transform: perspective(800px);
  max-width: 400px;
  padding: 2rem;
  margin: 2rem;
  overflow: hidden;
  border-radius: 5rem;
}

.customCard .card-header,
.customCard .card-body {
  background: none;
  color: #fff;
}

footer {
  background-color: rgba(16, 18, 27, 0.55);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: #fff;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}

@-webkit-keyframes waviy {
  0%,
  40%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes waviy {
  0%,
  40%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes gradientAnim {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
/*# sourceMappingURL=style.css.map */